section{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 15px;
  width: 100%;

}

.pre{
  display: flex;
  justify-content: center;
  align-items: center;
  
  white-space: pre-wrap;
  
}

.pre-box{
  border: 4px solid black;
  border-radius: 5px;
  // width:35%;
  min-width: 20%;
  max-width: 50%;
  // height: 100%;
  margin: 2rem auto 2rem auto ;
  margin-bottom: 15rem;
}