@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');
$backgroundColor: #efefef;
$radius: 40%;

form {
  display: flex;
  flex-direction: column; 
  justify-content:center ;
  align-items: center;
  margin: auto;
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(57, 62, 62, 0.371);
  border-radius: 10px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        color: rgb(230, 230, 230);
        font-family: 'Anton', sans-serif;
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: rgba(70, 70, 70, 0.703);
        border-radius: 7px;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}
#URL{
color: #efefef;
font-family: 'Anton', sans-serif;

}
#form-button{
  color:rgba(0, 255, 234, 0.73);
  background-color: gray;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 7px;
}