@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@500&family=Fredericka+the+Great&family=Poppins:wght@500&display=swap');

#modalButton {

  display: flex;
  flex-direction: column; 
  align-items: center;
  // margin: auto;
  margin: 2rem auto 2rem auto ;
  width: 80px;
}

#modalTitle {
  color: coral;
  font-family: 'Fredericka the Great', cursive;
}

#modal {
  background-color: black;
  color: #efefef;
  display: flex;
  flex-direction:column; 
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgba(57, 62, 62, 0.371);
  border-radius: 10px;
  margin-left: 25px;
  padding: 2rem;
  width: fit-content;
  height:fit-content;
}
