@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@500&family=Fredericka+the+Great&family=Poppins:wght@500&display=swap');

$backgroundColor: #f5f5f5;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100%;


  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
#container {
  // background-color: brown;
  display: flex;
  flex-direction: column; 
  // align-items: center;
}

#results{
  color: #eee;
 
}